# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/backend (2).zip
/backend (3).zip
/backend (4).zip
/backend (5).zip
/backend (6).zip
/backend (7).zip
/backend (8).zip
/backend (9).zip
